.social-block-home {
  position: absolute;
  bottom: 0%;
  left: 50%;
  right: 50%;
  top: 90%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-block-home i {
  display: block;
  /* padding: 7px; */
  color: grey;
}

.social-block-home a {
  text-decoration: none;
  padding: 10px;
}

.social-block-home a:hover {
  transform: scale(1.5);
  color: black;
  padding: 2px;
  border-radius: 20px;
}

.social-block-home i:hover {
  color: black;
}
